<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="x-ua-compatible" content="text/html;" />
		<title>电商系统-孙洋毕业论文演示</title>
		<meta name="Keywords" content="电商,迪米盒子,系统,网店系统,商城系统,电子商务软件" />
		<meta name="Description" content="网店系统，国内专业电子商务系统方案解决服务商，最灵活的企业级网店系统，为中小企业级站长提供电商一站式解决方案。" />
		<link rel="shortcut icon"  href="<?php echo MODULE_PATH?>images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="<?php echo MODULE_PATH?>css/install_style.css"/>
	</head>
	<body>
		<!--安装con-->
		<div class="content">
			<div class="con-head">
				<span class="update fr"><?php echo HD_VERSION?></span>
			</div>
			<div class="con-body">
				<div class="con-word">
					<h4> 路径在 system/module/install/template/index.html</h4><br />
					<p>
						
 </br></br>测试协议安装
					</p>
					
				</div>
				<div class="btn">
					<a class="agree-btn3" href="<?php echo url('setup1')?>">同意协议并安装系统</a>
				</div>
			</div>
		</div>
	</body>
</html>

</div>

