<?php include template('toper','common');?>
<?php include template('header','common');?>
	<link rel="stylesheet" href="{SKIN_PATH}statics/css/Back.css?v={HD_VERSION}" />
		<link rel="stylesheet" href="{SKIN_PATH}statics/css/haidao.css?v={HD_VERSION}" />
		<div class="container back">
			<i class="back-line"></i>
			<span>重置密码</span>
		</div>
		<div class="container back-box" >

		<div class="pwd-box">
		    <div class="back-cn text-default">
		       <div>新密码：</div>
		       <div class="back-input pwd-dom">
					<input type="password" placeholder="请输入您的新密码" class="pwd" />
				</div>
		    </div>
		    <div class="text-default affirm">
		    	<div>确认密码：</div>
		    	<div class="back-input re-pwd">
					<input type="password" placeholder="请再次输入您的新密码" class="pwd1"/>
				</div>
				<div class="prompt text-dot"></div>
		    </div>
		    <div id="btn_submit" class="re-btn text-center text-white bg-main">确认修改</div>
		</div>
		</div>
       <?php include template('toolbar','common');?>
		<?php include template('footer','common');?>
        
	
	<script>

	</script>

</html>