{template header common}
<script type="text/javascript" src="{SKIN_PATH}statics/js/member.order.js?v={HD_VERSION}"></script>

	<div class="mui-content has-footer-bar order-pic">
	    <div class="bg-white border-bottom padding-lr">
	    	<div class="order-lh-40 border-bottom order-detail-info">
	    		<span class="icon-15 mui-pull-left margin-small-right"><img src="{SKIN_PATH}statics/images/ico_20.png" /></span>
	    		<span class="mui-pull-left margin-small-right">订单状态：<em class="text-org">{ch_status($detail[_status][wait])}</em></span>
	    		<span class="text-ellipsis mui-block mui-text-right">订单号：<em class="text-org">{if ($detail['_showsubs'] == true)}{$detail[sub_sn]}{else}{$detail[order_sn]}{/if}</em></span>
	    	</div>
	    	<div class="padding-tb ">
	    		<div class="full hd-h4">
	    			<span class=" mui-pull-left w50 text-ellipsis">收货人：{$detail[_main][address_name]}</span>
	    			<span class="mui-pull-right text-ellipsis w50 mui-text-right">电话：{$detail[_main][address_mobile]}</span>
	    		</div>
	    		<div style="clear: both;"></div>
	    		<p class="text-black margin-top">收货地址：{$detail[_main][address_detail]}</p>
	    	</div>
	    </div>
	    <div class="list-col-10 padding">
	    	<div class="padding-bottom border-bottom">
				<span class="hd-h4">支付方式</span>
				<span class="mui-pull-right">{if $detail[pay_type] == 1}在线支付{else}货到付款{/if}</span>
			</div>
			<div class="padding-top">
				<span class="hd-h4">配送方式</span>
				<span class="mui-pull-right">{if ($detail['_delivery'][delivery_name])}{$detail['_delivery'][delivery_name]}{else}-{/if}</span>
			</div>
	    </div>
	    <div class="list-col-10 padding">
	    	<div class="padding-bottom border-bottom">
				<span class="hd-h4">发票信息</span>
			</div>
			<div class="padding-top text-ellipsis">
				{if $detail[_main][invoice_title]}
					<span class="hd-h4">发票抬头：{if ($detail[_main][invoice_title])}{$detail[_main][invoice_title]}{else}-{/if}</span>
					<br />
					<span class="hd-h4">发票内容：{if $detail[_main][invoice_content]}{$detail[_main][invoice_content]}{else}-{/if}</span>
				{else}
					无
				{/if}
			</div>
	    </div>
		<ul class="custom-goods-items custom-goods-row row1 custom-list-goods margin-top bg-white mui-clearfix">
			<li class="goods-item-list border-top">
				<div class="padding-small-top padding-small-bottom hd-h5">
					<span class="padding-lr mui-block">买家留言：{if $detail[remark]}{$detail[remark]}{else}-{/if}</span>
				</div>
			</li>
			{if ($detail[promotion] && $detail[promotion][name])}
    		<li class="mui-pull-left full bg-white">
    			<div class="padding-tb margin-lr border-bottom">
	    			<span class="bg-orange promotion-btn">订单促销</span>
	    			<span>{$detail[promotion][name]}</span>
	    		</div>
    		</li>
			{/if}
			{loop $detail[_skus] $sku}
		    	<li class="goods-item-list">
		    		<div class="list-item">
		    			<div class="list-item-pic">
							<a href="{$sku['url']}"><img src="{$sku[sku_thumb]}"></a>
						</div>
						<div class="list-item-bottom">
							<div class="list-item-title">
								<a href="{$sku['url']}" data-skuid="{$sku[sku_id]}" data-nums="{$sku[buy_nums]}">{$sku[sku_name]} {$sku[_sku_spec]}</a>
							</div>
							<div class="list-item-text hd-h6">
								<span class="text-ellipsis"><em class="price-org hd-h4">￥{$sku[sku_price]}</em> × {$sku['buy_nums']}</span>
								{if ($setting[return_time] == 1 && $sku[delivery_status] > 0)}
								<span class="mui-pull-right">
									<a href="{url('member/service/return_refund',array('id' => $sku[id]))}" class="mui-btn hd-btn-gray">申请售后</a>
								</span>
								{/if}
								{if ($setting[return_time] == 2 && $sku[delivery_status] ==2)}
								<span class="mui-pull-right">
									<a href="{url('member/service/return_refund',array('id' => $sku[id]))}" class="mui-btn hd-btn-gray">申请售后</a>
								</span>
								{/if}
							</div>
						</div>
					</div>
					{if ($sku[promotion] && $sku[promotion][title])}
					<div class="mui-pull-left full padding-lr-15 bg-white">
						<div class="padding-tb full border-top">
			    			<span class="bg-red promotion-btn">商品促销</span>
			    			<span>{$sku[promotion][title]}</span>
			    		</div>
					</div>
					{/if}
				</li>
			{/loop}
	    </ul>
	    <div class="padding-lr bg-white order-detail-price mui-clearfix">
	    	<ul class="order-settle border-bottom">
				<li>
					<span class="hd-h4">应付总额</span>
					<span class="mui-pull-right text-org">￥{$detail[real_price]}</span>
				</li>
				<li>
					<span>+运费</span>
					<span class="mui-pull-right text-org">￥{$detail[delivery_price]}</span>
				</li>
				<li>
					<span>+发票税额</span>
					<span class="mui-pull-right text-org">￥{$detail[_main][invoice_tax]}</span>
				</li>
				<!-- <li>
					<span>- 订单促销</span>
					<span class="mui-pull-right text-org">￥0.00</span>
				</li> -->
			</ul>
			<div class="order-total mui-text-right padding-bottom">
				<span class="hd-h4 lh-30">实付款：<em class="text-org">￥{$detail[_main][paid_amount]}</em></span><br/>
				<span class="text-gray">下单时间：{date('Y-m-d H:i:s' ,$detail[system_time])}</span>
			</div>
	    </div>
	</div>
	<nav data-sub_sn="{$detail[sub_sn]}" class="mui-bar mui-bar-tab padding-lr cart-footer-bar" style="padding: .16rem .2rem;"> 
		{if ($detail[status] == 1 && $detail[pay_type] == 1 && $detail[pay_status] == 0)}
			<a href="{url('order/order/detail',array('order_sn' => $detail[order_sn]))}" class="mui-pull-right mui-btn mui-btn-primary">立即付款</a>
        {/if}
		{if ($detail[status] == 1 && $detail[confirm_status]!=2)}
			<a data-action="cancel" href="javascript:;" class="mui-pull-right mui-btn">取消订单</a>
        {/if}
		{if ($detail[finish_status] == 2 || $detail[status] != 1)}
	    	<a data-action="again" class="mui-pull-right mui-btn" href="javascript:;">再次购买</a>
	    {/if}
	    {if (!empty($detail[_delivery]))}
	    	<a class="mui-pull-right mui-btn" href="{url('member/order/delivery',array('o_d_id' => $detail[_delivery][id]))}">查看物流</a>
	    	{if ($detail[_delivery][isreceive] == 0)}
	    		<a data-action="finish" href="javascript:;" class="mui-pull-right mui-btn mui-btn-primary" o-d-id="{$detail[_delivery][id]}">确认收货</a>
	    	{/if}
		{/if}
	</nav>
</body>
</html>