{template header common}
<script type="text/javascript" src="{__ROOT__}statics/js/haidao.validate.js?v={HD_VERSION}"></script>
	<div class="mui-content">
	    <div class="padding bg-white form-wrap login-wrap">
	    	<form class="padding-small" name="resetpassword" action="{url('member/account/resetpassword')}" method="POST">
			<div class="list">
		        <input type="password" class="input" name="oldpassword" placeholder="请输入当前密码" datatype="*" nullmsg="请输入当前密码"/>
			</div>
			<div class="list">
		        <input type="password" class="input" name="newpassword" placeholder="请输入新密码"  datatype="*" nullmsg="请输入新密码"/>
			</div>
			<div class="list">
		        <input type="password" class="input" name="newpassword1" placeholder="请再次输入新密码" datatype="*" nullmsg="请再次输入新密码" recheck="newpassword"/>
			</div>
		        <input type="submit" class="mui-btn full" value="保存密码" />
		    </form>
	    </div>
	</div>
	{template footer common}
</body>
</html>
<script>
var resetpassword = $("form[name=resetpassword]").Validform({
	ajaxPost:true,
	callback:function(ret){
		if(ret.status == 0){
			$.tips({content:ret.message});
		}else{
			$.tips({content:ret.message});
			window.location.href=ret.referer;
		}
	}
});
</script>
