	<div class="layout border-top border-gray-white global-footer margin-big-top">
		<div class="layout border border-main"></div>
			<div class="container hd-service clearfix">
				{hd:misc method="lists" num="5" tagfile="help" id="0" order="sort asc"}
				{loop $data $r}
				<dl class="fore">
					<dt>{$r[title]}</dt>
					<dd>
					{hd:misc method="lists" num="4" tagfile="help" id="$r[id]" order="sort asc"}
						{loop $data $s}
						<div><a href="{url('misc/index/help_detail',array('id'=>$s['id']))}">{$s[title]}</a></div>
						{/loop}
					{/hd}
					</dd>
				</dl>
				{/loop}
				{/hd}
				<dl class="fore last">
					<dt>&nbsp;</dt>
					<dd>
						<span><img class="footer-logo" src="{SKIN_PATH}statics/images/logo.png" width="158" /></span>
					</dd>
				</dl>
			</div>
			{hook/help_between_link}
			<div class="container copyright border-top border-gray-white padding-tb clearfix">
				<p class="cop-left fl w50 text-lh-small"><?php echo SITE_AUTHORIZE == 0? COPYRIGHT:''?></p>
				<div class="cop-right fr text-right w50">
					<?php $cache = model('admin/setting','service')->get();?>
					<p class="text-lh-small"><!-- <a href="">手机版</a> |  -->
					{if $cache[com_name]}
					<a target="_blank" href="{$cache[site_url]}">{$cache[com_name]}</a>
					{/if}
					{if $cache[icp]}
					|<a target="_blank" href="http://www.miitbeian.gov.cn/">{$cache[icp]}</a>
					{/if}
					{if $cache[site_statice]}
					|<a href="">{$cache[site_statice]}</a></p>
					{/if}
					<p class="text-lh-small">PRC, <em id="time"></em></p>
				</div>
			</div>
		</div>
	</body>
</html>
	<script>
		function current(){
			var d = new Date();
			var year = d.getFullYear(),
			month = d.getMonth() < 10 ? '0'+(d.getMonth() + 1) : d.getMonth() + 1,
			date = d.getDate() < 10 ? '0'+d.getDate() : d.getDate(),
			hours = d.getHours() < 10 ? '0'+d.getHours() : d.getHours(),
			minutes = d.getMinutes() < 10 ? '0'+d.getMinutes() : d.getMinutes(),
			seconds = d.getSeconds() < 10 ? '0'+d.getSeconds() : d.getSeconds();
			return  year+'-'+month+'-'+date+' '+hours+':'+minutes+':'+seconds;
		}
		setInterval(function(){$("#time").html(current)},1000);
		var url = "{url('goods/index/html_load')}";
		$(function(){
			$.ajax(url, {}, function(ret){});
		})
	</script>
	{hook/global_footer}


